<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <link rel='stylesheet' href="../static/findShop.css" th:href="findShop.css">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,600;1,500&display=swap" rel="stylesheet">

  <title>Library</title>
</head>
<body>
<div class="header">
  <div class="container">
    <div class="header-line">


      <div class="nav">
        <a class="nav-item" href="/allCities">Список городов</a>
        <a class="nav-item" href="/allStreets">Список улиц</a>
        <a class="nav-item" href="/allShops">Список магазинов</a>

      </div>





      <div class="btn">

        <a class="button" href="/search">
          Поиск
        </a>
      </div>

      <div  class="register">
        <a class="button-reg" href="/main">
          На главную
        </a>
      </div>

      <div  class="register">
        <a class="button-reg" href="/add">
          Добавить магазин
        </a>
      </div>

    </div>

    <form th:method="GET" th:action="@{/search/shop}" th:object="${dto}">
      <label for="fname" id="name-label" class="lab">Город</label><br>

      <input type="text" th:field="*{city_id}" id="fname" class="inputl" name="fname" placeholder="Введите айди города"><br>

      <label for="street" id="street-label" class="lab">Улица</label><br>
      <input type="text" th:field="*{street_id}" id="street" class="inputl" name="email" placeholder="Введите айди улицы"><br>

      <label for="open" id="open-label" class="lab">Открыт (1-да, 0-нет)</label><br>
      <input type="text" th:field="*{is_open}" id="open" class="inputl" name="login" placeholder="Введите выбор"><br><br>

      <br>
      <button type="sign up" class="sign-button" id="submit">Поиск</button>

    </form>


    </div>

  </div>
</div>




</body>
</html>
