<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <link rel='stylesheet' href="../static/findShop.css" th:href="findShop.css">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,600;1,500&display=swap" rel="stylesheet">

  <title>Library</title>
</head>
<body>
<div class="header">
  <div class="container">
    <div class="header-line">


      <div class="nav">
        <a class="nav-item" href="/allCities">Список городов</a>
        <a class="nav-item" href="/allStreets">Список улиц</a>
        <a class="nav-item" href="/allShops">Список магазинов</a>

      </div>





      <div class="btn">

        <a class="button" href="/search">
          Поиск
        </a>
      </div>

      <div  class="register">
        <a class="button-reg" href="/main">
          На главную
        </a>
      </div>

      <div  class="register">
        <a class="button-reg" href="/add">
          Добавить магазин
        </a>
      </div>

    </div>

    <div th:switch="${streets}">
      <h2 th:case="null">Nothing to display</h2>
      <div th:case="*">
        <h2 class="annotation">Улицы</h2>
        <table>
          <thead>
          <tr>
            <th class="annotation">ID</th>
            <th class="annotation">Название улицы</th>
            <th class="annotation">Город</th>

          </tr>
          </thead>
          <tbody>
          <tr th:each="street : ${streets}">
            <td class="li" th:text="${street.getId()}"></td>
            <td class="li" th:text="${street.getName().toString()}"></td>
            <td class="li" th:text="${street.getNameOfCity().toString()}"></td>


          </tr>
          </tbody>
        </table>
      </div>

    </div>


  </div>

</div>
</div>




</body>
</html>
